if object_id('KDLOC_Label_WASNOW') is not null DROP PROCEDURE KDLOC_Label_WASNOW;
GO

CREATE PROCEDURE KDLOC_Label_WASNOW (@TABLENAME VARCHAR(200))
AS 
BEGIN
DECLARE @POS_U_FLDS VARCHAR(2000), @OBJ_U_FLDS VARCHAR(2000), @PRICE_U_FLDS VARCHAR(2000), @ALT_U_FLDS VARCHAR(2000), /*@LABEL_FLDS VARCHAR(2000),*/ @SQLSTR varchar(4000),
		@POS_I_FLDS VARCHAR(2000), @OBJ_I_FLDS VARCHAR(2000), @PRICE_I_FLDS VARCHAR(2000), @ALT_I_FLDS VARCHAR(2000)
/* for update - List of fields from POS_TAB that colide with Label_tab */ 
SELECT @POS_U_FLDS = CASE WHEN ISNULL(@POS_U_FLDS,'')='' THEN COL.NAME+'=POS.'+COL.NAME ELSE @POS_U_FLDS+','+COL.NAME+'=POS.'+COL.NAME END
						FROM SYS.COLUMNS COL
						JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
						WHERE TAB.NAME='POS_TAB'
						AND COL.NAME NOT IN ('F01','F253','F902')
						AND COL.NAME IN (SELECT COL.NAME 
													FROM SYS.COLUMNS COL
													JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
													WHERE TAB.NAME='LABEL_TAB')
						ORDER BY COL.NAME
/* for insert - List of fields from POS_TAB that colide with Label_tab */ 
SELECT @POS_I_FLDS = CASE WHEN ISNULL(@POS_I_FLDS,'')='' THEN 'POS.'+COL.NAME ELSE @POS_I_FLDS+',POS.'+COL.NAME END
						FROM SYS.COLUMNS COL
						JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
						WHERE TAB.NAME='POS_TAB'
						AND COL.NAME NOT IN ('F01','F253','F902')
						AND COL.NAME IN (SELECT COL.NAME 
													FROM SYS.COLUMNS COL
													JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
													WHERE TAB.NAME='LABEL_TAB')
						ORDER BY COL.NAME
/* for update - List of fields from OBJ_TAB that colide with Label_tab */ 
SELECT @OBJ_U_FLDS = CASE WHEN ISNULL(@OBJ_U_FLDS,'')='' THEN COL.NAME+'=OBJ.'+COL.NAME ELSE @OBJ_U_FLDS+','+COL.NAME+'=OBJ.'+COL.NAME END
						FROM SYS.COLUMNS COL
						JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
						WHERE TAB.NAME='OBJ_TAB'
						AND COL.NAME NOT IN ('F253','F902','F21')
						AND COL.NAME IN (SELECT COL.NAME 
													FROM SYS.COLUMNS COL
													JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
													WHERE TAB.NAME='LABEL_TAB')
						ORDER BY COL.NAME
/* for insert - List of fields from OBJ_TAB that colide with Label_tab */ 
SELECT @OBJ_I_FLDS = CASE WHEN ISNULL(@OBJ_I_FLDS,'')='' THEN 'OBJ.'+COL.NAME ELSE @OBJ_I_FLDS+',OBJ.'+COL.NAME END
						FROM SYS.COLUMNS COL
						JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
						WHERE TAB.NAME='OBJ_TAB'
						AND COL.NAME NOT IN ('F253','F902','F21')
						AND COL.NAME IN (SELECT COL.NAME 
													FROM SYS.COLUMNS COL
													JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
													WHERE TAB.NAME='LABEL_TAB')
						ORDER BY COL.NAME
/* for update - List of fields from PRICE_TAB that colide with Label_tab */ 
SELECT @PRICE_U_FLDS = CASE WHEN ISNULL(@PRICE_U_FLDS,'')='' THEN COL.NAME+'=PRI.'+COL.NAME ELSE @PRICE_U_FLDS+','+COL.NAME+'=PRI.'+COL.NAME END
						FROM SYS.COLUMNS COL
						JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
						WHERE TAB.NAME='PRICE_TAB'
						AND COL.NAME NOT IN ('F01','F253','F902')
						AND COL.NAME IN (SELECT COL.NAME 
													FROM SYS.COLUMNS COL
													JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
													WHERE TAB.NAME='LABEL_TAB')
						ORDER BY COL.NAME
/* for insert - List of fields from PRICE_TAB that colide with Label_tab */ 
SELECT @PRICE_I_FLDS = CASE WHEN ISNULL(@PRICE_I_FLDS,'')='' THEN 'PRI.'+COL.NAME ELSE @PRICE_I_FLDS+',PRI.'+COL.NAME END
						FROM SYS.COLUMNS COL
						JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
						WHERE TAB.NAME='PRICE_TAB'
						AND COL.NAME NOT IN ('F01','F253','F902')
						AND COL.NAME IN (SELECT COL.NAME 
													FROM SYS.COLUMNS COL
													JOIN SYS.TABLES TAB ON TAB.object_id=COL.object_id
													WHERE TAB.NAME='LABEL_TAB')
						ORDER BY COL.NAME
/*Build update statement */
SET @SQLSTR = 'UPDATE LBL 
	SET '+@POS_U_FLDS+','+@OBJ_U_FLDS+','+@PRICE_U_FLDS+',F253=GETDATE() , F902=''MARKDOWN'',F95=''WASNOW.lbz'', F1148=''PAL'' 
		FROM ' + @TABLENAME + ' PRI
		LEFT OUTER JOIN OBJ_TAB OBJ ON PRI.F01=OBJ.F01 
		LEFT OUTER JOIN POS_TAB POS ON PRI.F01=POS.F01 
		JOIN LABEL_TAB LBL ON LBL.F1148=''PAL'' AND LBL.F95=''WASNOW.lbz'' AND LBL.F01=OBJ.F01 AND LBL.F126=1
		WHERE PRI.F1927=1'

EXEC(@SQLSTR)
/* build insert Statement */
SET @SQLSTR = 'INSERT INTO LABEL_TAB ('+REPLACE(@POS_I_FLDS,'POS.','')+','+REPLACE(@OBJ_I_FLDS,'OBJ.','')+','+REPLACE(@PRICE_I_FLDS,'PRI.','')+',F25,F253,F902,F95,F1148,F94)
	SELECT '+@POS_I_FLDS+','+@OBJ_I_FLDS+','+REPLACE(@PRICE_I_FLDS,'PRI.F126','ISNULL(PRI.F126,1)')+',F25=NULL, GETDATE() AS F253, ''MARKDOWN'' AS F902, F95=''WASNOW.lbz'', F1148=''PAL'',F94=1
		FROM ' + @TABLENAME + ' PRI
		LEFT OUTER JOIN OBJ_TAB OBJ ON PRI.F01=OBJ.F01 
		LEFT OUTER JOIN POS_TAB POS ON PRI.F01=POS.F01 
		LEFT JOIN LABEL_TAB LBL ON LBL.F1148=''PAL'' AND LBL.F95=''WASNOW.lbz'' AND LBL.F01=OBJ.F01 AND LBL.F126=1
		WHERE LBL.F01 IS NULL
		AND PRI.F1927=1'
EXEC(@SQLSTR)
END
GO
